<footer id="page-footer">
  <span class="copyright-content">
    &copyCodeial 2023. All Rights Reserved
  </span>
  <span class="navigation-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/profile">Profile</a></li>
    </ul>
  </span>
</footer>
